@{
    ViewData["Title"] = "Display";
}

@model WebApplication1.Models.Calci

<h1>After Calculations</h1>

<html>
<head>
    <body>
        <h2>Answer</h2>
        <br>  Result of Addition = @Model.answer
    </body>
</head>
</html>


